<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>Header or something</h1>
    </header>

    <main>
        {{{body}}}  
    </main>

    <footer>
        <p>Footer or something</p>
    </footer>
</body>
</html>